body{ font-family: 'Lato', sans-serif;
padding-top: 0rem !important; }

.centerimg {
  padding: 70px 0;
}
.th-btn {
    line-height: 40px;
    color: #fbfbfb;
    font-size: 1.2em;
    background-color: #000;
    height: 60px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    border: none;
    border-radius: 0px;

}


.th-form {
    display: block;
    width: 100%;
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: none;
    border: solid 1px #a3a3a3;
    margin: 5px 0;
}
.th-btn-inv {
    margin-bottom: 15px;
    font-family: 'Raleway', sans-serif;
    height: 60px;
    color: #a3a3a3 !important;
    font-size: 1em;
    font-weight: 300;
    background-color: #fff;
    border: 1px solid #a3a3a3;
}

.th-btn-inv-sm {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #a3a3a3 !important;
    font-size: 1em;
    height: 40px;
    background-color: #fff;
    border: 1px solid #a3a3a3;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 300;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.clps {
    border: solid 1px #a3a3a3;
    padding: 15px 10px 0px 10px;
    margin: 15px 0;
}
.th-pt {
    padding-top: 15px;
}
.dropdown:hover > .dropdown-menu {
    display: block;
}
.dropdown > .dropdown-toggle:active {
    pointer-events: none;
}



/* Tables */
}
.checkout-table {
  border: 1px solid #e5e5e5;
}
.checkout-table tr td,
.checkout-table tr th {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}
.checkout-table tbody tr td:first-child,
.checkout-table tbody tr th:first-child {
  max-width: 36px;
}

.pr-remove {
  text-align: center;
}